.main{
    width: 100%;
    background-color: red;
    display: flex;
    ;
}
.text-to-replace {
    width: 50%; 
    background-color: rgb(236, 161, 161);
}
.callme{
    width: 50%; 
    background-color: rgb(189, 247, 192);
}
.buttons{
    margin: 20px;
    display: flex;
    justify-content: space-around;
}