p {
    font-family: sans-serif;
}
.heading {
    font-size: 35px;
    text-align: center;
    width: 100%;
    margin: 15px;
}
.menu_head {
    font-size: 25px;
}
.info_head {
    text-align: center;
}
.main {
    display: flex;
    flex-direction: row;
    margin: auto;
    background-color: antiquewhite;
    padding: 5px;
    flex-wrap: wrap;
    max-width: 70%;
    padding: 10px;
}
.menu {
    border-radius: 5px;
    max-height: 550px;
    width: 350px;
    background-color: lightgray;
    margin: 0 auto;
    padding: 5px 10px;
        display: flex;
    flex-direction: column;
    justify-content: space-around
}
.info {
    border-radius: 5px;
    max-height: 550px;
    width: 350px;
    background-color: lightblue;
    margin: 0 auto;
    padding: 5px 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-around
}
.info_price {
    padding-bottom: 30px;
}
button{
    padding: 15px;
}
.total{
    margin: 40px;
    font-size: 35px;
}