* {
    margin: 0 auto;
}
h3,p {
    font-family: sans-serif;
    padding: 2px;
}
img{
    padding-bottom: 10px;
}
.heading {
    width: 100%;
    background-color: rgb(244,245,250);
    height: 45px;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 10px;
    justify-content: space-between;
}
.header {
    font-size: 30px;
    font-family: sans-serif;
    max-width: 75%;
}
.cart-button {
    width: 20%;
    background-color: rgb(164,158,240);
    border-radius: 5px;
    padding: 8px;
    border: none;
    color: #ffff;
}

.products {
    max-width: 750px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
}

.goods-item {
    max-width: 230px;
    background-color: rgb(244,245,250);
    padding: 10px;
    margin: 10px 0px;
    display: flex;
    flex-direction: column;
}

.buy-button {
    border-radius: 5px;
    padding: 5px 15px;
    margin-top: 15px;
    border: none;
    background-color: rgb(164,158,240);
    color: #fff;
}