*{
    margin: 0 auto;
}
main {
    display: flex;
    flex-direction: row;
}
header{
    height: 15vh;
    background-color: rgb(244,245,250);
    margin-bottom: 10px;
}
.top-block{
    padding: 0 10px;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.logo {
    font-family: sans-serif;
    font-size: 30px;
    font-weight: 800;
    margin-left: 15px;
}
.cart{
    margin-right: 15px;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.search-form {
    padding-right: 30px;
}
button {
    background-color: #000;
    border-radius: 5px;
    border-style: none;
    color: #fff;
}

.btn-cart{
    padding: 15px;
}

.buy-btn, .del-btn{
    padding: 10px;
}

.btn-search {
 padding: 5px;

}

.products {
    padding: 10px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 100vw;
    min-height: 75vh;
    margin: 0px 15px;
    background-color: rgb(244,245,250);

}
.basketlist {
    height: 180px;
    display: flex;
    flex-direction: column;
    margin: 5px;
    background-color: rgb(160, 160, 160);;
}
.cart-block {
    padding: 10px;
    width: 40%;
    height: 75vh;
    background-color: rgb(244,245,250);
    margin-right: 15px;
    display: flex;
    flex-direction: column;
}
.cart-item {
    margin: 5px;
    height: 75px;
    width: 100%;
    display: flex;
    margin-bottom: 5px;
}

.invisible {
    display: none;
}
.btn-quantity {
    display: flex;
    flex-direction: column;

}